<div class="container">
    <aside id="aside" #sideMenu>
        <div class="top">
            <div class="logo">
                <img style="width: 70px; height: 100%; filter: invert(0%) brightness(100%);" src="/assets/img/logo1.png" alt="">
            </div>
            <div class="close" id="close-btn">
                <span (click)="toggleSideBar()" class="material-symbols-sharp">close</span>
            </div>
        </div>
        <div class="sidebar">
            <a routerLink="/" >
                <span class="material-symbols-sharp">grid_view</span>
                <h3>Dashboard</h3>
            </a>
            <a routerLink="/blog" >
                <span class="material-symbols-outlined">
                    description
                    </span>
                <h3>Blogs</h3>
            </a>
            <a routerLink="/category">
                <span class="material-symbols-outlined">
                    category
                    </span>
                <h3>Categories</h3>
            </a>
            <a routerLink="/user">
                <span class="material-symbols-outlined">
                    groups
                </span>
                <h3>Users and Authors</h3>
            </a>
            <a routerLink="/newsletter">
                <span class="material-symbols-outlined">
                    newspaper
                    </span>
                <h3>Newsletter</h3>
            </a>
            <a routerLink="/message">
                <span class="material-symbols-sharp">mail_outline</span>
                <h3>Messages</h3>
            </a>
            <a routerLink="/information">
                <span class="material-symbols-outlined">
                    contacts
                    </span>
                <h3>Informations</h3>
            </a>
            <a routerLink="/settings" >
                <span class="material-symbols-sharp">settings</span>
                <h3>Settings</h3>
            </a>
            <a (click)="logout()" href="/">
                <span  class="material-symbols-sharp">logout</span>
                <h3>Log Out</h3>
            </a>
        </div>
    </aside>
    
    <main>
        <router-outlet></router-outlet>
    </main>

   
    <div class="right">
        <div class="top">
            <button id="menu-btn">
                <span (click)="toggleSideBar()" class="material-symbols-sharp">menu</span>
            </button>
            <div class="theme-toggler" (click)="toggleTheme()">
                <span class="material-symbols-sharp" [class.active]="!isDarkTheme">light_mode</span>
                <span class="material-symbols-sharp" [class.active]="isDarkTheme">dark_mode</span>
              </div>
            <div class="profile">
                <div class="info">
                    <h4 style="font-size: 14px; font-weight: 700;"> {{auth.user.fullName}}</h4>
                    <b>{{auth.user.email}}</b>
                    <h3>{{auth.user.role}} </h3>
                </div>
                <!-- <div class="profile-photo">
                    <img src="https://localhost:7177/ProfilePictures/{{userModel.profilePicture}}" alt="">
                </div> -->
            </div>
        </div>

        <div class="recent-updates">
            <h2>{{messageCount}} Yeni Mesaj</h2>
            <div class="updates">
                @for (message of messages; track message) {
                    <div class="update">
                        <div class="profile-photo">
                            <img src="/assets/img/default-user-1.png" alt="">
                        </div>
                        <div class="message">
                            <p><b>{{message.contactName}}</b>, {{message.contactEmail}}</p>
                            <p>{{message.subject}}</p>

                            <small class="text-muted-1">{{message.createdDate | date: "dd MM yyyy - HH:mm"}}</small>
                        </div>
                    </div>    
                }
            </div>
        </div>

        <div class="sales-analytics">
            <h2>Veri Analizi</h2>
            <div class="item online">
                <div class="icon">
                    <span class="material-symbols-outlined">
                        database
                        </span>
                </div>
                <div class="right">
                    <div class="info">
                        <h3>Database</h3>
                        <!-- <small class="text-muted">Toplam</small> -->
                    </div>
                    <h5 class="success">+39%</h5>
                    <h3>{{dbInfoModel.dbSize}}</h3>
                </div>
            </div>

            <div class="item offline">
                <div class="icon">
                    <span class="material-symbols-outlined">
                        image
                        </span>
                </div>
                <div class="right">
                    <div class="info">
                        <h3>Resim</h3>
                        <!-- <small class="text-muted">Last 24 Hours</small> -->
                    </div>
                    <h5 class="danger">-17%</h5>
                    <h3>{{fileSizeInMB}} MB</h3>
                </div>
            </div>

            <div class="item customers">
                <div class="icon">
                    <span class="material-symbols-sharp">person</span>
                </div>
                <div class="right">
                    <div class="info">
                        <h3>New Customers</h3>
                        <small class="text-muted">Last 24 Hours</small>
                    </div>
                    <h5 class="success">+25%</h5>
                    <h3>849</h3>
                </div>
            </div>
        </div>

        <!-- <div class="sales-analytics">
            <h2>Sales Analytics</h2>
            <div class="item online">
                <div class="icon">
                    <span class="material-symbols-sharp">shopping_cart</span>
                </div>
                <div class="right">
                    <div class="info">
                        <h3>Online Orders</h3>
                        <small class="text-muted">Last 24 Hours</small>
                    </div>
                    <h5 class="success">+39%</h5>
                    <h3>3849</h3>
                </div>
            </div>

            <div class="item offline">
                <div class="icon">
                    <span class="material-symbols-sharp">local_mall</span>
                </div>
                <div class="right">
                    <div class="info">
                        <h3>Offline Orders</h3>
                        <small class="text-muted">Last 24 Hours</small>
                    </div>
                    <h5 class="danger">-17%</h5>
                    <h3>1100</h3>
                </div>
            </div>

            <div class="item customers">
                <div class="icon">
                    <span class="material-symbols-sharp">person</span>
                </div>
                <div class="right">
                    <div class="info">
                        <h3>New Customers</h3>
                        <small class="text-muted">Last 24 Hours</small>
                    </div>
                    <h5 class="success">+25%</h5>
                    <h3>849</h3>
                </div>
            </div>

            <div class="item add-product">
                <div>
                    <span class="material-symbols-sharp">add</span>
                    <h3>Add Product</h3>
                </div>
            </div>
        </div> -->
    </div>
</div>
