<div style="display: flex;">
    <h1>Blog Listesi</h1>
</div>

<div class="insights" style="display: flex;">
    <table class="table table-striped" style="margin-top: 70px;">
        <thead>
            <tr>
                <th scope="col">Başlık</th>
                <th scope="col">Kategori</th>
                <th scope="col">Yazar</th>
                <th scope="col">Operations</th>
            </tr>
        </thead>
        <tbody>
            @for(blog of blogs; track blog){
            <tr>
                <td>{{blog.title}}</td>
                <td>{{blog.category.name}}</td>
                <td>{{blog.author.firstName}} {{blog.author.lastName}}</td>
                <td>
                    <a routerLink="/blog-detail/{{blog.id}}"><button class="btn btn-success mr-2"><i
                        class="fa-solid fa-eye"></i></button></a>
                    <!-- <button class="btn btn-danger" (click)="deleteBlogById(blog.id!, blog.appUserId!, blog.title)"><i
                            class="fa-solid fa-trash"></i></button> -->
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

<!-- <div class="modal" [ngStyle]="{'display': showModal ? 'flex' : 'none'}">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <div>
                    <h3 style="font-size: 25px;">Kullanıcı Detayı</h3>
                    <p>{{selectedUser?.createdDate | date: "dd/MM/yyy - HH:mm"}}</p>
                    <div style="display: flex; flex-direction: row; gap: 1rem;">
                        <h2>Rol değiştir: </h2>
                        <button *ngIf="selectedUser?.role.name === 'User'" class="btn btn-primary"
                            (click)="changeUserRole(selectedUser?.id!, 'Author')">Author</button>
                        <button *ngIf="selectedUser?.role.name === 'Author'" class="btn btn-primary"
                            (click)="changeUserRole(selectedUser?.id!, 'User')">User</button>
                    </div>
                </div>

                <div class="modal-close-btn" (click)="closeModal()">
                    <span style="font-size: 44px; cursor: pointer;" class="material-symbols-outlined">
                        cancel
                    </span>
                </div>
            </div>
            <div class="sales message-modal">
                <div class="right">
                    <div class="input-box">
                        <div class="grid-container">
                            <div class="input-field mb-2">
                                <label for="phone">Id:</label>
                                <p>{{ selectedUser?.id }}</p>
                            </div>
                            <div class="input-field mb-2">
                                <label for="email">Adı Soyadı:</label>
                                <p>{{ selectedUser?.fullName }}</p>
                            </div>
                            <div class="input-field mb-2">
                                <label for="email">E-Posta:</label>
                                <p>{{ selectedUser?.email }}</p>
                            </div>
                            <div class="input-field mb-2">
                                <label for="companyName">Kullanıcı Adı:</label>
                                <p>{{ selectedUser?.userName }}</p>
                            </div>

                            <div class="input-field mb-2">
                                <label for="subject">Rolü:</label>
                                <p>{{ selectedUser?.role.name }}</p>
                            </div>
                            <div class="input-field mb-2">
                                <label for="subject">Email Onayı:</label>
                                <p>{{ selectedUser?.emailConfirmed }}</p>
                            </div>
                            <div class="input-field mb-2">
                                <label for="subject">Cinsiyet:</label>
                                <p>{{ getGenderText(selectedUser?.gender) }}</p>
                            </div>
                            <div *ngIf="selectedUser?.role.name === 'Author'" class="input-field mb-2">
                                <a routerLink="" class="btn btn-info">Detay...</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->